# Standalone repo ignores.

# dependencies
node_modules/

# testing
coverage/

# next.js
.next/
out/
next-env.d.ts

# production
build/
dist/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*

# env files
.env*

# typescript
*.tsbuildinfo

# playwright
test-results/
playwright-report/
blob-report/
